= render 'shared/header'

.main-content
  .main-content__left
    .main-content__left--user
      = "#{current_user.nickname}さんがいいねした記事一覧"
    - @like_contents.each do |content|
      =link_to  content_path(content) ,class: "main-content__left--article" do
        = render partial: 'shared/article', locals: { content: content}

  .main-content__right
    Favorite article

.main-content__page
  = paginate @like_contents
= render 'shared/footer'
