= render 'shared/header'

.main-content
  .main-content__left
    = "#{@article_user.nickname}さんの投稿一覧"
    - @contents.each do |content|
      =link_to  content_path(content) ,class: "main-content__left--article" do
        = render partial: 'shared/article', locals: { content: content}

  .main-content__right
    = "#{@article_user.nickname}さんの記事"
    %br
    .i.fas.fa-chess-king
    ="いいねRANKING"
    .i.fas.fa-chess-king
    %br
    - i = 1
    - @ranking_contents.first(5).each do |content|
      = i
      - i += 1
      .favorite__list
        .favorite__list--image
          = image_tag content.image
        .favorite__list--name
          = content.name

= render 'shared/footer'
