.header
  = link_to root_path, class: "header__logo" do
    Portfolio
  .header__right
    .header__right--sns
      .i.fab.fa-twitter
      .i.fab.fa-facebook
    .header__right--menu
      .down-menu
        - if user_signed_in?
          .i.fas.fa-bars
          %ul.child
            %li.child-hidden
            = link_to new_content_path do
              %li.child
                .i.far.fa-edit
                記事の投稿
            = link_to like_path(id: current_user.id) do
              %li.child
                .i.far.fa-thumbs-up
                いいね記事の確認
            = link_to user_path(id: current_user.id), name: "params_user" do
              %li.child
                .i.far.fa-eye
                投稿した記事の確認
        -else
    .header__right--account
      .down-menu
        .i.fas.fa-user-circle
        %ul.child
          %li.child-hidden
          - if user_signed_in?
            = link_to new_user_registration_path do
              %li.child
                .i.fas.fa-user-edit
                ユーザー情報
            = link_to destroy_user_session_path , method: "delete" do
              %li.child
                .i.fas.fa-sign-out-alt
                ログアウト
          - else
            = link_to new_user_registration_path do
              %li.child
                .i.fas.fa-user-plus
                ユーザー登録
            = link_to user_session_path do
              %li.child
                .i.fas.fa-sign-in-alt
                ログイン
    .header__right--search
      .down-menu
        .i.fas.fa-search
        %ul.child-search
          %li.child-hidden
          %li.child-search
            検索する記事のタイトルを入力してください (あいまい検索)
            = form_tag( search_contents_path, :method => 'get' ) do
              = text_field_tag :search
              = button_tag "search"
