- if user_signed_in?
  / ログイン中の時

  - if Like.find_by(user_id: current_user.id, content_id: content.id)
    / いいねを押している時
    = link_to content_like_path(content_id: content.id ,id: content.id), method: :delete, remote: true do
      .vertical_like
        %i.fas.fa-heart
        %span.red-text
          = content.likes_count
  - else
    / いいねを押していない時
    = link_to content_likes_path(content_id: content.id), method: :post, remote: true do
      .vertical_like
        %i.far.fa-heart
        %span.red-text
          = content.likes_count

- else
  / ログインしてない時
  .vertical_like
  = link_to new_user_registration_path, class: "logout_button" do
    %i.far.fa-heart
    %span.red-text
      = content.likes_count
