- if user_signed_in?
  - unless content.like_user(current_user.id).blank?
    = link_to content_like_path(content_id: content.id ,id: content.likes[0].id), method: :delete, remote: true do
      .vertical_like
        %i.fas.fa-heart
        %span.red-text
          = content.likes_count
  - else
    / いいねしてない時
    = link_to content_likes_path(content_id: content.id), method: :post, remote: true do
      .vertical_like
        %i.far.fa-heart
        %span.red-text
          = content.likes_count
- else
  / ログインしてない時
  - if content.likes_count > 0
    .vertical_like
      %i.far.fa-heart
      %span.red-text
        = content.likes_count
  - else
    .vertical_like
      %i.far.fa-heart
      %span.red-text
        = content.likes_count
